* text=auto eol=lf

# Denote all files that are truly binary and should not be modified
*.ttf binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.woff binary
*.woff2 binary
*.ico binary
*.pdf binary
