@font-face
  font-family 'icomoon'
  src url('../icons/icomoon.eot?qtvzzz')
  src url('../icons/icomoon.eot?#iefixqtvzzz') format('embedded-opentype'),
 url('../icons/icomoon.woff?qtvzzz') format('woff'),
        url('../icons/icomoon.ttf?qtvzzz') format('truetype'),
        url('../icons/icomoon.svg?qtvzzz#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-facebook
  &:before
    content "\e602"

.icon-github
  &:before
    content "\e603"

.icon-twitter
  &:before
    content "\e605"

.icon-projects
  &:before
    color white    
    content "\e609"
    margin-right .3em

.icon-profile
  &:before
    color white
    content "\e60a"
    margin-right .3em
    
.icon-me
  &:before
    color white
    content "\e60b"
    margin-right .3em
  
.icon-linkedin
  &:before
    color white
    content "\f0e1"
    margin-right .3em
    
.icon-contact
  &:before
    color white
    content "\e606"
    margin-right .3em

.icon-hideMenu
  &:before
    content "\e60f"

.icon-showMenu
  &:before
    content "\e610"
